.expenses{
    width: 70%;
    margin: auto;
    background-color: #242424;
    padding: 15px;
}
@media (max-width: 600px) {
    .expenses{
        width: 80%;
    }
}
@media (max-width: 500px) {
    .expenses{
        width: 98%;
    }
}